{
  "presets": [
    { "env": {
        "targets": {
          "node": 4
        }
      }
    }
  ],
  "plugins": [
    "transform-promise-to-bluebird",
    ["transform-async-to-module-method", {
      "module": "bluebird",
      "method": "coroutine"
    }]
  ]
}
